<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mantenimiento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Marca de Articulos</a>
          <a class="dropdown-item" href="#">Linea de Articulos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Registrar Articulos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Movimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Pedidos de compra</a>
          <a class="dropdown-item" href="#">Orden de compra</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Factura de compra</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Informes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Listado de articulos</a>
          <a class="dropdown-item" href="#">Listado de marcas</a>
          <a class="dropdown-item" href="#">Listado de lineas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Listado de pedidos</a>
          <a class="dropdown-item" href="#">Listado de orden de compra</a>
          <a class="dropdown-item" href="#">Listado de orden de facturas</a>
        </div>
      </li>
    </ul>
    <form class="form-inline">
      <div class="row d-flex justify-content-end">
        <div class="col-7 mr-auto">
          <input class="form-control mr-auto" type="search" placeholder="Buscar" aria-label="Search">
        </div>
        <div class="col-3 mr-auto">
          <button class="btn btn-outline-light" type="submit">Buscar</button>
        </div>
      </div>
    </form>
  </div>
</nav>
